/* about.css */

.container {
    font-family: 'Arial', sans-serif;
}

h2,
h3 {
    font-weight: bold;
}

.text-primary {
    color: #007bff;
}

.text-secondary {
    color: #6c757d;
}

.text-muted {
    color: #6c757d;
    line-height: 1.6;
}

.img-fluid {
    border-radius: 10px;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mt-5 {
    margin-top: 3rem;
}

.mt-3 {
    margin-top: 1rem;
}